.container{
  position: relative;
}

.defaultClass{

}
.validClass{
border-color: green;
  outline-color: green;
}
.invalidClass{
  border-color: red;
  outline-color: red;


}

.errorTip{
  position: absolute;
  z-index: 1;
  color: wheat;
  background-color: #282c34;
  box-sizing: border-box;
  padding: 20px;
  top: 100%;
}